# Default ignored files
/../../03_Logarithmic_Intensity_Transformations /.idea/shelf/
/../../03_Logarithmic_Intensity_Transformations /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../03_Logarithmic_Intensity_Transformations /.idea/httpRequests/
# Datasource local storage ignored files
/../../03_Logarithmic_Intensity_Transformations /.idea/dataSources/
/../../03_Logarithmic_Intensity_Transformations /.idea/dataSources.local.xml
